.chatbar_root {
    /* float: right; */
    display: flex !important;
    flex-direction: column;
    /* gap:10px !important; */
    width: clamp(140px, 288px, 380px);
    height: 100%;
    /* outline: 1px solid red; */
    padding: 1.5em 0em 0em 0em;
}

.chat_color {
    position: relative;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #233853;
    height: clamp(100px, 595px, 600px);
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.1em;
    padding-bottom: 0.8em;
    /* outline: 1px solid red; */
    /* gap: 50px; */
}

.check{
    height: 100%; 
    width: 100%;
    /* outline:1px solid black; */
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #233853;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

 .my_eachmsg{
    background: #142336;
    margin-bottom: 6px !important;
    padding: 0.2em;
    margin-right: 4px !IMPORTANT;
    border-radius: 5px;
    color: white;
    /* outline: 1px solid red; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: clip; */
    word-wrap: break-word;
    font-size: 0.9em;
    /* opacity: 50%; */    
 }

.each_message{
    /* background: #F9FBB2; */
    margin-bottom: 6px !important;
    padding: 0.2em;
    margin-right: 4px !IMPORTANT;
    border-radius: 5px;
    color: white;   
    /* outline: 1px solid red; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: clip; */
    word-wrap: break-word;
    font-size: 0.9em;
    /* opacity: 70%; */
}


.bottom_chat{
    bottom: 0;
    position: absolute;  
    width: 100%; 
}

.chat_box{
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    word-wrap: break-word;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 0.9em;
    padding: 0.5em 3em;
}

.chat_box:focus{
    outline: none;
}

.chat_box:focus::placeholder{
    color: transparent;
}

.sender_name{
    font-weight: 500;
}

.joined_message{
    font-weight: 500;
    color: rgb(15, 217, 15);
}

.left_message {
    font-weight: 500;
    color: red;
}
.submittheMessage {
    /* outline: 1px solid red; */
    width: 270px;
    /* background-color: red;     */
}
.thesubbmit {
    background-color: #7bd77e;
}
