.drawingturn_main{
    padding: 1.5em 2em 0em 1.5em;
    height: 599px;
    /* outline: 1px solid lime; */
}

.drawingturncolor {
    height: 591px;
    width: 930px;
    background-color: #AEB2B6;
    color: black;
    /* border: 1px solid red; */
    display: flex;
}

.drawing_topic{
    font-size: 1.1em;
}

.drawing_item{
    font-size: 1.5em;
    /* padding-top: 60px; */
    font-weight: 600;
    padding-bottom: 40px;
}

.is_drawing_item {
    font-size: 2em;
    padding-top: 60px;
    font-weight: 600;
    padding-bottom: 60px;
}

.drawing_button{
    /* background-color: #233853; */
    background-color: #AEB2B6;
    color: black;
    border: 2px solid #233853;
    padding: 0.6em 0.7em;
    border-radius: 3px;
    transition: transform linear 100ms;


}
.drawing_button:hover {
    background-color: #233853;
    color: white;
    transform: scale(1.05); 

}