.memberbar_root{
    padding: 1.5em 1em 0em 0em ;
}

.member_info{
    background: #58718F;
    padding: 0.3em;
    border-radius: 5px;
    height:clamp(45px, 50px, 50px);
    margin-bottom: 1em !important; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* outline: 1px solid lime; */
}

.my_info{
    background: #233853;
    padding: 0.3em;
    border-radius: 5px;
    height:clamp(45px, 50px, 50px);
    margin-bottom: 1em !important; 
}

.turn_info {
    background: #032c62;
    padding: 0.3em;
    border-radius: 5px;
    height: clamp(45px, 50px, 50px);
    margin-bottom: 1em !important;
}

.member_name{
    width:clamp(45px, 135px, 145px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.8em;
  /* outline: 1px solid lime; */
    padding-top:0em;
    font: 0.9em;
}

.member_pts{
    font-size: 0.8em;
    padding-left: 1em;
}


.rank_number{
    font-size: 0.9em;
    padding-right: 0.3em;
}
