.resultbox_root{
    padding: 1.5em 2em 0em 1.5em;
    height: 599px;
    /* outline: 1px solid lime; */
    
}

.resultbox_main{
    height: 591px;
    width: 930px;
    background-color: #AEB2B6;
    color: black;
    /* border: 1px solid red; */
    display: flex;
}


.first_player{
    align-items: center;
    /* border: 1px solid lime; */
    padding: 0em 1.4em;
    color: black;
    position: relative;
}

.ranking_first{
    padding-top: 5px;
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 10px;
}

.ranking_second{
    padding-top: 5px;
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 10px;
}

.ranking{
    padding-top: 5px;
    font: 1.5em;
}

.ranked_name{
    font-weight: 500;
    font-size: 1.1em;
}

.ranked_points{
    /* padding-top: 3px; */
    font-size: 0.9em;
}

.each_bottom{
    padding-left: 20px;
    padding-right: 20px;
    /* outline: 1px solid lime; */
}
.bottom_rankers{
    padding-top: 1em;
    /* border: 1px solid lime; */
    width: 100%;
    color: black;
}

.ranking_bottom{
    padding-top: 5px;
    font-size: 0.85em;
}

.ranked_namebottom{
    font-size: 1em;
    font-weight: 500;
}

.first_skip{
    width: 0px;
}

.mathi{
    /* outline: 5px solid lime; */
    height: 92.2%;
    padding-top: 70px;

}

.not_first_row{
    padding-top: 20px;
}