.status_bar_main{
    background:#233853;
    border-radius: 5px;
    /* margin-top: 25px; */
    width: 100%;
    height:60px ;
    /* outline: 1px solid lime; */
}

.status_container{
    /* outline: 1px solid red; */
    height: 100%;
    width: 100%;
    /* height:60px ; */
    /* padding-left: 0.8em ; */
}

.number_members{
    /* position: absolute; */
    padding-left: 1em;
    /* outline: 1px solid lime; */
}

.status_message{
    /* width: 100%; */
    /* outline: 1px solid red; */
    /* padding-left: 3px; */
}

.app_desct{
    padding-right: 1em;
}

.topic {
    /* word-wrap: break-word; */
    font-size: 0.5px;
    color: rgb(203, 201, 201);
}