.waitarea_main{
    /* border: 1px solid lime; */
    padding :2em;
    /* width: 940; */
    /* height: 568; */
    /* width: clamp(1000, 400, 1200) */
    /* background-color: aliceblue; */
    color: black;
    border-radius: 5px;
}

.topic{
    font-size: 1.1em;
    padding-bottom: 0.9em;
}

.joinedname{
    padding-right: 1em;
}

.name_avatar{
    /* border: 1px solid lime; */
    width: 150px;
    padding-bottom: 3em;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    /* padding: 10px 20px; */
    display: block;
    /* margin: 100px auto 0; */
    font-size: 18px;
}

.modal, .overlay {
    /* width: 100vw;
    height: 100vh; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 30px 40px;
    border-radius: 8px;
    /* max-width: 600px; */
    /* min-width: 300px; */
    
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}