.landingmain{
        height: 100vh;
        width: 100%; /* Magic here */
        display: flex;
        justify-content: center;
        align-items: center;
}

.app_name{
    padding: 0px 0px 40px 0px;
    color: aliceblue;
    
    /* font-size: 2.2em; */
}

.app_desc{
    color: aliceblue;
    padding: 0px 0px 80px;
    font-size: 1.2em;


}

.bottom_bar{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    width: 100%; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #233853   ;
    padding: 0.5em;
    font-size: 1.1em;
}

.bottomcenter_width{
    /* outline: 1px solid lime; */
    width:clamp(200px, 520px, 600px)
    /* width: 100%; */
}

.bottomcenter_width2{
    outline: 1px solid lime;
    width:clamp(400px, 1100px, 1300px)
    /* width: 100%; */
}
/* .Landing_root{
    outline: 1px solid lime;
} */

.about_us{
    outline: 1px solid red;
    width:clamp(200px, 520px, 600px);
    padding: 1em;
    text-align: justify;


}